.logo_title {
  position: relative;
  width: 100%;
  height: 110px;
  line-height: 50px;
  background: #fff;
  padding: 0;
  margin: 0;
}

.logo_title a {
  text-decoration: none;
  color: #000;
}

.logo_title ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.logo_title ul li {
  float: left;
}

.logo_title .fa-bars, .logo_title .fa-close {
  display: none;
}

.logo_title .nav-title {
  float: left;
  width: 100%;
}

.logo_title .nav-title img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.logo_title .nav-title_1 {
  position: absolute;
  padding-top: 48px;
  left: 81%;
  top: 0%;
}

.logo_title .nav-title_1 a {
  padding: 4px;
}

.logo_title .nav-title_1 li {
  width: 45px;
  text-align: center;
  background-color: #eee;
  border-radius: 100%;
  margin: 5px;
}

.logo_title .nav-menu {
  background-color: #000;
  display: inline-block !important;
  width: 100%;
  margin: 10px 0;
  color: #fff;
  /* display: inline-block; */
  height: 57px;
  line-height: 57px;
  padding: 0 16px;
  font-size: 119%;
}

.logo_title .nav-menu li {
  width: 100px !important;
  text-align: center;
}

.logo_title .nav-menu li:hover ul {
  display: block;
}

.logo_title .nav-menu li:hover .aboutMenu {
  display: block;
}

.logo_title .nav-menu li > ul, .logo_title .nav-menu .aboutMenu {
  z-index: 99;
  display: none;
  position: absolute;
  background: #000;
}

.logo_title .nav-menu li > ul li, .logo_title .nav-menu .aboutMenu li {
  float: none;
  border-bottom: 1px solid #eee;
}

.logo_title .nav-menu li > ul a, .logo_title .nav-menu .aboutMenu a {
  color: #eee !important;
}

.logo_title .nav-menu a {
  color: #fff;
  display: inline-block;
  height: 50px;
  padding: 0 16px;
}

.logo_title .nav-menu a:hover {
  border-bottom: 3px solid #317ea0;
}

@media screen and (max-width: 767px) {
  .logo_title .fa-bars, .logo_title .fa-close {
    display: block;
  }
  .logo_title .fa-bars {
    position: absolute;
    left: 4%;
    font-size: 20px;
    top: 23%;
    border-radius: 4px;
    border: 1px solid #000;
    padding: 14px;
  }
  .logo_title .nav-title_1 {
    position: initial;
    display: inline-block;
    width: 100%;
    background: #000;
    text-align: center;
    padding-top: 11px;
    line-height: 28px;
  }
  .logo_title .nav-title_1 ul {
    display: inline-block;
  }
  .logo_title .nav-title_1 ul li {
    background-color: #000;
  }
  .logo_title .nav-title_1 a {
    color: #fff;
  }
  .logo_title .logo_title .nav-menu ul li {
    float: none;
    width: 100% !important;
  }
  .logo_title .nav-menu {
    position: relative;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #eee;
    -webkit-transition: left 2s;
    transition: left 2s;
    z-index: 900;
    margin: 0;
  }
  .logo_title .nav-menu ul li {
    float: none;
    width: 100% !important;
  }
  .logo_title .nav-menu ul li span {
    content: "";
    position: absolute;
    right: 0;
    padding: 5px 5px;
    -webkit-transform: translate(-81%, -252%) rotate(134deg);
            transform: translate(-81%, -252%) rotate(134deg);
    background-color: transparent;
    color: #000;
    margin-top: 0;
    border: solid #000;
    border-width: 4px 4px 0 0;
    left: 73%;
    width: 10px;
    height: 5px;
    z-index: 99;
  }
  .logo_title .nav-menu ul li a {
    color: #000;
    display: block;
    text-align: center;
    font-size: 20px;
  }
  .logo_title .nav-menu ul li .fa-close {
    font-size: 2rem;
    line-height: 40px;
    margin: 0 10px;
  }
  .logo_title .nav-menu ul li:hover .aboutMenu {
    display: none;
  }
  .logo_title .nav-menu ul li .aboutMenu {
    background: #000 !important;
    display: none;
    position: relative;
    width: 100% !important;
  }
  .logo_title .nav-menu ul li .aboutMenu li {
    width: 100% !important;
    float: none;
    border-bottom: 1px solid #fff !important;
  }
  .logo_title .nav-menu.hide {
    left: -100%;
  }
}
/*# sourceMappingURL=style.css.map */